/* Reset CSS: remove as margens e preenchimentos padrões e define box-sizing para border-box em todos os elementos.
   Isso garante um comportamento mais consistente de layout entre diferentes navegadores. */
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Importação das fontes personalizadas utilizadas no projeto. 
    'GrandHotel-Regular', 'Felbridge Std Bold' e 'Felbridge Std Light' são definidos com seus respectivos caminhos de arquivo. */
@font-face {
  font-family: 'GrandHotel-Regular';
  src: url('./components/fonts/GrandHotel-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Felbridge Std Bold';
  src: url('./components/fonts/Felbridge_Std_Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Felbridge Std Light';
  src: url('./components/fonts/Felbridge_Std_Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* Estilos gerais para o corpo da página. 
    Define o layout Flexbox para centralizar o conteúdo, um tamanho mínimo de altura, cor de fundo e estilos de fonte. */
body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #9f9da7;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: #2b3e51;
}

/* Estilos para o container principal do formulário de login. 
    Define o tamanho, sombra da caixa e o display flex para organizar os elementos internos. */
.login-container {
  display: flex; 
  height: 500px;
  width: 650px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Media queries para ajustar o layout do container de login em telas menores. 
    Muda a direção do Flexbox para coluna em dispositivos com largura máxima de 768px. */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column; 
  }
}

/* Estilos para a área de imagem dentro do container de login.
    Define o tamanho, cor de fundo, posicionamento e dimensionamento do background, e usa Grid para organizar elementos internos. */
.login-image {
  width: 250px;
  height: 500px;
  background-color: #0367A6;
  background-color: #024873;

  background-size: cover;
  background-position: center;
  display: grid; 
}

/* Ajustes de estilo para a imagem dentro do .login-image. */
.login-image img {
  padding-top: 20px;
}

/* Estilos para o nome da empresa, incluindo tamanho da fonte, cor, sombra do texto e alinhamento. */
.nome-empresa {
  margin-top: -90px;
  font-size: 3rem; 
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  justify-self: center;
}

/* Estilos específicos para as partes em negrito e claro do nome da empresa. */
.nome-empresa .bold {
  font-family: 'Felbridge Std Bold';
}

.nome-empresa .light {
  font-family: 'Felbridge Std Light';
}

/* Estilos para a palavra 'edu' com ajustes de margem, display, espaçamento e alinhamento. */
.palavra-edu {
  margin-top: -90px;
  display: flex;
  gap: 8px;
  justify-self: center;
  grid-row: 3;
}

/* Estilos para cada letra da palavra 'edu'. */
.edu-letra {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 20%;
  color: #0367A6;
  font-family: 'Felbridge Std Bold';
  font-size: 1.6rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilos para os ícones das redes sociais e seu posicionamento. */
.redes_Sociais {
  margin-bottom: -50px;
  display: flex;
  justify-content: center;
  gap: 8px;
  grid-row: 4;
}
/* Tamanho padrão para os ícones das redes sociais. */
.redes_Sociais svg {
  width: 48px;
  height: 48px;
}

/* Efeitos de hover para os ícones das redes sociais, definindo transições e transformações. */
#facebook:hover {
  transition: transform 1.5s ease;
  transform: rotate3d(0, 1, 0, 360deg);
}

#instagram:hover {
  transition: transform 0.5s ease;
  transform: scale(1.3);
}

#youtube:hover {
  transition: transform 1.5s ease;
  transform: perspective(200px) rotateX(360deg);
}

@keyframes animacaoIcone {
  0%, 100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  30% {
    transform: matrix3d(0.7, 0, 0, 0, 0, 1.3, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

#linkedin:hover {
  animation: animacaoIcone 1s ease;
}


/* #twitter:hover {
  transition: transform 1.5s ease;
  transform: perspective(200px) rotateX(360deg);
} */

/* Estilos para o formulário de login. Define dimensões, imagem de fundo e posicionamento da imagem. */
.login-Formulario {
  width: 400px;
  height: 500px;
  background-image: url('./components/Identidade_Visual/header-bg.jpg'); /* Caminho da imagem de fundo */
  background-size: cover; /* Faz a imagem cobrir todo o fundo */
  background-position: center; /* Centraliza a imagem de fundo */
}

/* Estilos para o cabeçalho de boas-vindas dentro do formulário de login. */
.h2_bem-vindo {
  color: white; /* Cor do texto */
  font-family: 'GrandHotel-Regular', sans-serif; /* Fonte personalizada */
  font-size: 50px; /* Tamanho da fonte */
  font-weight: 300; /* Peso da fonte */
  text-align: center; /* Alinhamento do texto */
  margin: 0; /* Sem margem */
  padding-top: 10px; /* Espaçamento superior */
}

/* Estilos para o container que envolve os campos de entrada do formulário. */
.input_Container {
  width: 100%; /* Largura total do container */
}

/* Estilos comuns para os grupos de entrada de texto e senha. */
.grupo_Inputs {
  position: relative; /* Posicionamento relativo para posicionar elementos internos absolutamente */
  height: 80px; /* Altura fixa */
  line-height: 80px; /* Altura da linha igual à altura do elemento */
}

/* Estilos para os campos de entrada de texto e senha. */
.grupo_Inputs input {
  position: absolute; /* Posicionamento absoluto dentro do seu container relativo */
  width: 85%; /* Largura dos campos de entrada */
  outline: none; /* Remove o contorno ao focar */
  font-size: 0.8em; /* Tamanho da fonte */
  padding: 0 10px; /* Preenchimento interno */
  line-height: 80px; /* Altura da linha */
  border-radius: 10px; /* Bordas arredondadas */
  border: 2px solid #f0ffff; /* Cor da borda */
  background: transparent; /* Fundo transparente */
  transition: 0.1s ease; /* Transição suave para alterações de estilo */
  z-index: 1111; /* Z-index para empilhamento */
  height: 40px; /* Altura fixa */
  margin: 100px 30px 0px 30px; /* Margens */
}

/* Estilos para as labels flutuantes dos campos input. */
.label_Contorno {
  position: absolute; /* Posicionamento absoluto */
  font-size: 0.6em; /* Tamanho da fonte */
  color: #f0ffff; /* Cor da fonte */
  padding: 0 25px; /* Preenchimento interno */
  margin: 80px 0px 0 30px; /* Margens */
  background-color: transparent; /* Fundo transparente */
  transition: 0.2s ease; /* Transição suave para alterações de estilo */
}

/* Estilos para os campos de entrada quando focados ou preenchidos. */
input:focus, input:valid {
  color: white; /* Cor do texto */
  border: 2px solid #BDF26D; /* Cor da borda ao focar ou quando válido */
}

/* Estilos para as labels flutuantes quando os campos de entrada estão focados ou preenchidos. */
input:focus + .label_Contorno, input:valid + .label_Contorno {
  color: #BDF26D; /* Cor da fonte do label_Contorno*/
  height: 30px; /* Altura ajustada */
  line-height: 30px; /* Altura da linha ajustada */
  padding: 0 10px; /* Preenchimento interno ajustado */
  transform: translate(-5px, -5px) scale(0.88); /* Transformação para efeito flutuante */
  z-index: 1111; /* Z-index para empilhamento */
}

/* Estilos para a mensagem de erro exibida no formulário. */
.mensagem_Erro {
  display: block; /* Exibe como um bloco */
  min-height: 30px; /* Altura mínima */
  font-size: 26px; /* Tamanho da fonte */
  color: red; /* Cor da fonte */
  text-align: center; /* Alinhamento do texto */
  margin-top: 75px; /* Margem superior */
  margin-bottom: 21px; /* Margem inferior */
}

/* Estilos para o botão de login. */
.btn-login {
  display: block; /* Exibe como um bloco */
  margin: 0 auto; /* Centraliza horizontalmente */
  position: relative; /* Posicionamento relativo */
  border: none; /* Sem borda */
  border-radius: 30px; /* Bordas arredondadas */
  width: 50%; /* Largura */
  padding: 15px 0px; /* Preenchimento vertical */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra da caixa */
  background-color: #0367A6; /* Cor de fundo */
  color: #fff; /* Cor da fonte */
  font-weight: bold; /* Peso da fonte */
  font-size: 18px; /* Tamanho da fonte */
  text-align: center; /* Alinhamento do texto */
  cursor: pointer; /* Cursor de ponteiro */
  transition: all 0.2s ease; /* Transição suave para alterações de estilo */
}

/* Estilos para o botão de login quando desabilitado. */
.btn-login:disabled {
  background-color: #ccc; /* Cor de fundo */
  color: #666; /* Cor da fonte */
  cursor: not-allowed; /* Cursor de não permitido */
}

/* Estilos para o botão de login no estado hover. */
.btn-login:hover {
  background-color: #329dd5; /* Cor de fundo ao passar o mouse */
  transition: all 0.2s ease; /* Transição suave para alterações de estilo */
}

/* Estilos para a div de usuário logado. */
#div_Logado {
  height: auto; /* Altura automática */
  margin: 20px; /* Margens */
}

/* Estilos para o botão de logout. */
.btn_Logado {
  border: none; /* Sem borda */
  display: inline-block; /* Exibe como um bloco inline */
  width: 50%; /* Largura */
  padding: 20px; /* Preenchimento interno */
  position: relative; /* Posicionamento relativo */
  background-color: #3ca9e2; /* Cor de fundo */
  color: #fff; /* Cor da fonte */
  font-weight: bold; /* Peso da fonte */
  text-transform: uppercase; /* Texto em maiúsculas */
  font-size: 18px; /* Tamanho da fonte */
  text-align: center; /* Alinhamento do texto */
  cursor: pointer; /* Cursor de ponteiro */
  transition: all 0.2s ease; /* Transição suave para alterações de estilo */
  margin-bottom: 30px; /* Margem inferior */
  margin-top: 10px; /* Margem superior */
}
